.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
    gap: 20px;
  }

  h1{
    margin-top: 2rem;
    text-align: center;
    color: white;
  }
  